<template>
  <div>
    <section v-if="posts && posts.length">
      <article v-bind:key="post.id" v-for="post of posts">
        <h3><strong>{{post.title}}</strong></h3>
        <p>{{post.body}}</p>
      </article>
    </section>
  </div>
</template>

<script>

import axios from 'axios'

  export default {
    // https://www.dj.kentorry.io/admin/api/collections/get/Mixes?token=1661ae5030e1d70916a72e1bbc78acgit

    data(){
      return {
        posts: []
      }
    },
    created(){
      axios.get(`http://jsonplaceholder.typicode.com/posts`)
      .then(response => {
        this.posts = response.data
      })
      .catch(e => {
          this.errors.push(e)
      })
    }
  }
</script>

<style lang="scss">
  h3{
    font-size: 2rem;
  }
  section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.6rem;
    padding:20px 0px;
    article{
      min-height: 200px;
    }
  }
</style>