<template>
  <div>
      <ul class="list-item">
        <li v-bind:key="todo.id" v-for="todo in todos">{{todo.title}}</li>
      </ul>
  </div>
</template>

<script>
export default {
  name: "Todos",
  props:["todos"]
}
</script>

<style scoped lang="scss">
  .list-item{
    li{
      padding:5px;
      background: rgba(8, 146, 123, 0.867);
      margin-bottom:2px;
      color:#fff;
    }
  }

</style>
