<template>
  <div class="about container">
    <h1>This is an about page</h1>
    <ApiCall/>
  </div>
</template>

<script>

import ApiCall from '@/components/ApiCall/ApiCall.vue'

export default {
  components: {
    ApiCall
  }
}
</script>

<style lang="scss">
  h1{
    font-size: 3rem;
    
  }

</style>
