<template>
  <div class="home">
    <Masthead/>
  </div>
</template>

<script>
// @ is an alias to /src
import Masthead from '@/views/Home/Masthead.vue'

export default {
  name: 'home',
  components: {
    Masthead
  }
}
</script>
