<template>
  <div class="container">
    <TodosList v-bind:todos="todos"/>
  </div>
</template>

<script>

import TodosList from '@/views/Todos/TodosList.vue'
export default {

  components: {
    TodosList 
  },
  data(){
    return{
      todos: [
        {
          id: 1,
          title: 'Todo 1',
          completed:false
        },
         {
          id: 2,
          title: 'Todo 2',
          completed:true
        },
         {
          id:3,
          title: 'Todo 3',
          completed:false
        }
      ]
    }
  }
}

</script>


<style lang="scss">

</style>