<template>
  <div class="Masthead">
    <div class="container">
        <h1>Masthead</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Masthead',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
 .Masthead{
   background: turquoise;
   min-height: 30vh;
   color:#fff;
   padding: 50px 0px;
   h1{
     font-size: 2.5rem;
     text-align: center;
   }
 }
</style>
