<template>
  <div id="app">
    <Nav/>
    <main>
      <router-view/>
    </main>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Nav from '@/components/Nav/Nav.vue'

export default {
  components: {
    Nav
  }
}
</script>

<style lang="scss">
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
body{
  background: #ccc;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  
}

.container{
  width:80%;
  margin: 20px auto;
  padding:20px 0px;
}

</style>
