<template>
     <button class="roundButton">menu</button>
</template>


<style scoped lang="scss">

.roundButton {
  background-color: rgb(150, 150, 150);
  margin-bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 5px solid #222;
  outline: none;
  background-color: #FFF;
  padding: 1px;
  text-align: center;
  font-size: .6rem;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
  &:hover{
    background-color: #333;
    cursor: pointer;
    border-color: #222;
    transform: scale(1.2, 1.2);
    color:#fff;
  }
  &:active{
    border-color: #222;
    background-color: #FFF;
  }
}





</style>